$black: #000000;
$white: #ffffff;
$green: rgba(106, 219, 161, 0.76);
$redBg: rgba(219, 106, 108, 0.86);
$green2: rgba(106, 219, 161, 0.90);
$redBg2: rgba(219, 106, 108, 0.90);
$redText: #E24C4C; 
$grey: #1F1F1F;
$brown: #754A21;
$greenText: #4CC888;